_notes/

.idea/
cmake-build-*/

.vscode/
.vs/

# generic build directory
build/
build-*/
build-release-bf2/

# dev tools
tools/

# some just in case stuff
*.elf
*.nso
*.pfs0
*.nacp
*.npdm
*.nam
*.nro

Changelog.md
README.md
